<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142222595551-kgsvrnermobmdfteqess41rjq6qhq1kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142222595551-kgsvrnermobmdfteqess41rjq6qhq1kn</string>
	<key>API_KEY</key>
	<string>AIzaSyAEF78foaiBRsca8STa0t-v78F2d088BRo</string>
	<key>GCM_SENDER_ID</key>
	<string>142222595551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilhanipek.HealppyPet</string>
	<key>PROJECT_ID</key>
	<string>instaclone-d3a0d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-d3a0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142222595551:ios:c0d085450b91208efba06a</string>
</dict>
</plist>